.noFavorites {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.recipesCount {
  color: #b1b1b1;
  margin: 0;
}

h3 {
  color: #393f94;
}

.link {
  font-size: 10pt;
  background-color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  color: #393f94;
  border-radius: 50px;
  box-shadow: rgba(50, 50, 93, 0.1) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.1) 0px 8px 16px -8px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.link:hover {
  background-color: #393f94;
  color: white;
}

.count {
  font-weight: 600;
}

.card {
  border-radius: 20px;
  padding: 10px;
  outline: none;
  border: none;
  width: 345px;
  height: 295px;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.cardImg {
  width: 325px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 20px;
  user-select: none;
  position: relative;
  cursor: pointer;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  z-index: 1;
  margin: 10px;
  height: 30px;
  width: 30px;
  padding: 20px;
  border-radius: 50px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
}

.overlay:hover {
  color: #ffbf38;
  transform: scale(1.2);
  cursor: pointer;
}

.already-liked {
  color: #393f94;
  background-color: #ffffff70;
}

.card:hover .overlay {
  background-color: #2525254c;
}

.rating {
  color: #ffbf38;
}

.card-text {
  color: #b1b1b1;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.smallMedia {
  display: none;
}

.dropdown {
  display: inline-block;
}

.btn {
  background-color: white;
  border-radius: 50px;
  font-size: 10pt;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px;
}
