<div class="container-fluid my-2">
  <div class="container px-3 py-2">
    <h3>My Favorites</h3>

    <div *ngIf="recipesArr.length >= 1; else noFavorites">
      <div *ngIf="recipesArr">
        <p class="recipesCount mb-3">
          You have
          <span class="count" [innerHTML]="recipesArr.length"></span>
          Favorites
        </p>
        <div class="d-flex gap-5 flex-wrap" id="allTags">
          <div class="card" *ngFor="let recipe of recipesArr" @fade>
            <div
              class="overlay"
              (click)="likeRecipe(recipe.recipe_id!)"
              [ngClass]="{
                'already-liked': checkIfThisRecipeIsLiked(recipe.recipe_id!)
              }"
            >
              <i class="fa-solid fa-xmark"></i>
            </div>
            <img src="{{ recipe.img }}" class="cardImg" />
            <div class="m-1">
              <h5 class="card-titles">{{ recipe.title }}</h5>
              <div class="d-flex justify-content-between">
                <p class="small card-text">
                  You have {{ recipe.description }} ingredients
                </p>
                <p class="text-muted small">
                  <i class="fa-solid fa-star mx-1 rating"></i
                  >{{ recipe.rating }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #noFavorites>
      <div class="noFavorites">
        <div class="mx-5">
          <h3>Oh no..</h3>
          <p class="text-muted">
            It looks like you have
            <span class="count" [innerHTML]="recipesArr.length"></span>
            Favorites here
          </p>
          <a [routerLink]="'/Home'" class="link">Go back and add Favorites</a>
        </div>
        <img src="..//src/assets/img/favorites.png" class="bigMedia" />
      </div>
    </ng-template>
  </div>
</div>
