/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Rubik", sans-serif;
  transition: all 0.2s;
}

::selection {
  background-color: #393f94;
  color: white;
}

@media screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
  .navImg {
    display: none;
  }

  .text-tags {
    display: none;
  }

  .intro {
    display: block;
  }

  .box {
    text-align: center;
    padding-bottom: 20px;
  }

  .link {
    display: block;
  }

  .bigMedia {
    display: none;
  }

  .welcomeImg {
    display: none !important;
  }

  .welcome {
    background-size: cover !important;
  }

  .welcomeMsg {
    margin: 20px !important;
  }

  .smallMedia {
    display: block;
  }
}
