<div class="container my-2 sidebar">
  <h2 class="text-center my-3">Logo</h2>

  <div class="btn-group-vertical my-4">
    <a href="#" class="p-2 link active"
      ><i class="fa-solid fa-house mx-3"></i> Dashboard</a
    >
    <a href="#" class="p-2 link"
      ><i class="fa-solid fa-star mx-3"></i>My Favorites</a
    >

    <a href="#" class="p-2 link"
      ><i class="fa-solid fa-gear mx-3"></i> Settings</a
    >
  </div>
</div>
<img src=".//src/assets/img/navbarImg.png" width="200px" class="navImg" />
