<div class="container my-2 sidebar">
  <img src=".//src/assets/img/Logo.png" class="logo" />

  <div class="btn-group-vertical my-4">
    <a routerLink="Home" routerLinkActive="activeStyle" class="p-2 link active"
      ><i class="fa-solid fa-house mx-3"></i> Dashboard</a
    >
    <a routerLink="Favorites" routerLinkActive="activeStyle" class="p-2 link"
      ><i class="fa-solid fa-heart mx-3"></i>My Favorites</a
    >

    <a [routerLink]="'About'" routerLinkActive="activeStyle" class="p-2 link"
      ><i class="fa-solid fa-circle-info mx-3"></i> About</a
    >
  </div>
</div>
<img src=".//src/assets/img/navbarImg.png" width="200px" class="navImg" />
