h2 {
  color: #393f94;
}

a {
  text-decoration: none;
}

.sidebar {
  min-width: 260px;
}

.btn-group-vertical {
  width: 100%;
}

.link {
  width: 90%;
  background-color: transparent;
  border-radius: 10px;
  color: #b1b1b1;
  margin-bottom: 10px;
}

.activeStyle {
  background-color: #393f94;
  color: white !important;
}

.link:hover {
  color: #696969;
}

img {
  position: fixed;
  bottom: 50px;
  left: 15px;
  user-select: none;
}
