<div class="container my-4">
  <h3>Add Recipe</h3>

  <form class="row g-3">
    <div class="col-md-6">
      <label for="title" class="form-label">Recipe Title</label>
      <input type="text" class="form-control" id="title" name="title" ngModel />
    </div>
    <div class="col-md-6">
      <label for="category" class="form-label">Category</label>
      <input
        type="text"
        class="form-control"
        id="category"
        name="category"
        ngModel
      />
    </div>
    <div class="col-12">
      <label for="description" class="form-label">Description</label>
      <input
        type="text"
        class="form-control"
        id="description"
        name="description"
        ngModel
      />
    </div>
    <div class="col-md-6">
      <label for="img" class="form-label">Image Url</label>
      <input type="text" class="form-control" id="img" name="img" ngModel />
    </div>
    <div class="col-md-4">
      <label for="cookTime" class="form-label">Cook Time</label>
      <input
        type="text"
        class="form-control"
        id="cookTime"
        name="cookTime"
        ngModel
      />
    </div>
    <div class="col-md-2">
      <label for="rating" class="form-label">Rating</label>
      <input
        type="text"
        class="form-control"
        id="rating"
        name="rating"
        ngModel
      />
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary" style="width: 300px">
        Add
      </button>
    </div>
  </form>
</div>
