<div class="container-fluid my-2">
  <div class="container px-3 py-2">
    <h3 class="mb-3">About Us</h3>
    <div class="mx-2 row gap-5">
      <div class="col box">
        <div class="row">
          <div class="col-m-12 col-lg-6">
            <img src="assets/img/Aviv.jpg" class="Avatar" />
          </div>
          <div class="col">
            <p class="intro mt-4">Name</p>
            <p class="text">Aviv Shleyfman</p>

            <p class="intro">Location</p>
            <p class="text">Herzliya, Israel</p>

            <p class="intro">Contact With Me</p>
            <a class="btn" href=""><i class="fa-brands fa-facebook-f"></i></a>
            <a class="btn" href=""><i class="fa-brands fa-instagram"></i></a>
            <a class="btn" href=""><i class="fa-brands fa-linkedin-in"></i></a>
            <a class="btn" href=""><i class="fa-brands fa-github"></i></a>
            <a class="btn" href=""><i class="fa-brands fa-whatsapp"></i></a>
          </div>
        </div>
      </div>
      <div class="col box">
        <div class="row">
          <div class="col-m-12 col-lg-6">
            <img src="assets/img/Shahaf.jpeg" class="Avatar" />
          </div>
          <div class="col">
            <p class="intro mt-4">Name</p>
            <p class="text">Shahaf Seza</p>

            <p class="intro">Location</p>
            <p class="text">Tel Aviv, Israel</p>

            <p class="intro">Contact With Me</p>
            <a class="btn" href=""><i class="fa-brands fa-facebook-f"></i></a>
            <a class="btn" href=""><i class="fa-brands fa-instagram"></i></a>
            <a class="btn" href=""><i class="fa-brands fa-linkedin-in"></i></a>
            <a class="btn" href=""><i class="fa-brands fa-github"></i></a>
            <a class="btn" href=""><i class="fa-brands fa-whatsapp"></i></a>
          </div>
        </div>
      </div>
    </div>

    <h3 class="mt-5">About This Project</h3>
    <h5>This Site Features:</h5>
    <ul>
      <li>CRUD...</li>
      <li>CRUD...</li>
      <li>CRUD...</li>
    </ul>

    <h5>Tools And Packages Used For Development</h5>
    <img src="assets/img/Html.png" class="img" />
    <img src="assets/img/Css.png" class="img" />
    <img src="assets/img/Js.png" class="img" />
    <img src="assets/img/Boostrap.png" class="img" />
    <img src="assets/img/Angular.png" class="img" />
    <img src="assets/img/Ts.png" class="img" />
    <img src="assets/img/Nodejs.png" class="img" />
    <img src="assets/img/MongoDb.png" class="img" />
    <p class="text-center rights">© All rights reserved</p>
  </div>
</div>
