<button (click)="closeCanvas()">היי שחף תסגור אותי</button>

<img src="{{ offCanvasRecipe.img }}" class="img" />
<div class="container">
  <div class="header">
    <h3>{{ offCanvasRecipe.title }}</h3>
    <p>{{ offCanvasRecipe.description }}</p>
    <div class="d-flex justify-content-evenly mt-2">
      <div class="col small">
        <i class="fa-regular fa-clock mx-1"></i>{{ offCanvasRecipe.cookTime }}
      </div>
      <div class="col small text-center category">
        <i class="fa-solid fa-hashtag mx-1"></i>{{ offCanvasRecipe.category }}
      </div>
      <div class="col small text-center mainTaste">
        {{ offCanvasRecipe.mainTaste }}
      </div>
      <div class="col small text-center">
        <i class="fa-solid fa-star mx-1 text-warning"></i
        >{{ offCanvasRecipe.rating }}
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>INGREDIENT</th>
        <th>AMOUNT</th>
        <th>SIMILAR</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ingredient of offCanvasRecipe.ingredients">
        <td class="ingredientName">{{ ingredient.name }}</td>
        <td>{{ ingredient.amount }}</td>
        <td>{{ ingredient.similar }}</td>
      </tr>
    </tbody>
  </table>
</div>
