<img src="{{ offCanvasRecipe.img }}" class="img" />
<div class="container">
  <div class="header">
    <h3>{{ offCanvasRecipe.title }}</h3>
    <p>{{ offCanvasRecipe.description }}</p>
  </div>

  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic nostrum
    placeat perferendis veniam eius voluptas quaerat? Quam nam repellat adipisci
    a ullam facilis sunt quos delectus, blanditiis odit asperiores libero iure
    suscipit magnam ad aut repellendus, voluptate deserunt facere. Nobis sunt
    ipsa at laboriosam ad? Maxime impedit quasi veniam quaerat rem odit nulla
    nobis a corrupti ipsam minima aperiam voluptatem optio dolores tempore vero
    esse, error pariatur, doloremque inventore cum! Similique, veniam? Aliquam
    harum cum, dolores recusandae cumque tempora quos minus pariatur placeat
    eius alias quo, fugit ab, autem odit laudantium dicta! Recusandae, rerum
    quis. Iste earum repellat cum laboriosam impedit dolorum libero officia
    saepe minima? Quibusdam ab, asperiores eum ratione excepturi quo soluta
    quaerat voluptate quas quia itaque, perspiciatis fugit doloremque rem harum
    aliquid! Ad, fuga culpa! Sunt voluptates consectetur saepe quis ullam
    beatae, repudiandae perspiciatis exercitationem magnam corporis velit
    temporibus aperiam a eos vel vitae id mollitia accusamus blanditiis officia
    fuga veritatis voluptatum obcaecati quo? Sequi, ab aperiam eius illum quidem
    quasi voluptatum, cum fugit repellendus excepturi totam ad porro esse
    quisquam voluptatibus! Facilis, eaque! Voluptatibus quisquam vel ut
    voluptates, optio officia repellendus. Officia facere ipsa nisi consequuntur
    quisquam, cupiditate esse cumque, quae, labore distinctio assumenda
    excepturi saepe corporis. Ab veniam excepturi ipsam sequi nesciunt tempore
    alias quis laborum? Animi veniam officia architecto est minus, vel inventore
    quas doloremque deleniti beatae amet ducimus eius porro autem culpa?
    Repudiandae culpa nemo doloribus hic cupiditate cum adipisci rerum id
    necessitatibus placeat repellendus incidunt eum eveniet, ullam, quidem
    corrupti magnam ipsum odit unde eligendi natus suscipit dolore! Tempora enim
    a eos, sint excepturi adipisci voluptate cupiditate asperiores! Magni
    dolorum laudantium doloribus ipsum et dolores fuga consequatur illo omnis,
    deleniti modi vitae dicta ut cupiditate odit beatae exercitationem alias,
    enim sint veniam dolore quo. Dicta quisquam doloremque culpa amet optio vero
    commodi similique, cupiditate excepturi repellat adipisci rerum odit dolor,
    necessitatibus assumenda ullam laboriosam nihil nobis cum explicabo, sequi
    dolore magnam soluta suscipit! Ipsam non, qui ex provident, vero totam et
    nesciunt consectetur iste culpa a impedit animi corrupti quia recusandae
    rerum alias voluptas similique? Neque quidem, non eveniet esse velit ut
    earum sit culpa est. Adipisci unde natus aliquid nihil mollitia dolorem
    debitis quisquam cum in vero quidem earum, nemo eveniet autem libero
    repudiandae reprehenderit. Amet, molestias quia. Numquam, voluptatum est!
    Libero iste eaque rerum perspiciatis placeat accusantium soluta veniam
    aspernatur aperiam non earum laudantium, odit voluptatibus tempora
    consequuntur assumenda provident commodi necessitatibus similique ad
    veritatis accusamus distinctio. Facere ad dignissimos molestias unde qui
    sint reiciendis, nesciunt impedit repellat maxime, expedita recusandae error
    quaerat suscipit vitae quas natus reprehenderit amet illum ipsam vel eveniet
    fuga dolorum. Veritatis sunt porro odit nihil fuga. Minima et, voluptatum
    voluptate ipsam, at alias eligendi qui nesciunt laudantium optio deserunt
    ratione ut doloremque, labore libero beatae aliquam! Dolores saepe quam
    suscipit, ipsa doloribus aspernatur alias quasi commodi dicta rerum?
    Voluptatum, fugiat obcaecati aperiam, beatae cum magnam commodi illo ad
    quaerat aspernatur reiciendis ullam, laborum necessitatibus aliquid? Vitae,
    quibusdam! Magnam suscipit labore et. Rerum, nihil doloremque. Labore!
  </p>
</div>
