<div class="container-fluid my-2">
  <div class="container px-3 py-2">
    <h3>Welcome Back, {{ userName }}</h3>
    <p class="recipesCount">You can make {{ recipesCounter }} recipes</p>

    <div class="serch my-4 d-flex row justify-content-between">
      <div class="col-lg-6">
        <div class="input-icons">
          <i class="fa-solid fa-magnifying-glass icon"></i>
          <input
            class="form-control"
            type="text"
            placeholder="Search for ingredients or everything you like to eat"
            [(ngModel)]="recipeName"
          />
        </div>
      </div>
      <div class="col my-1 small">
        <p class="text-muted d-inline mx-2">Recomended:</p>
        <button class="btn mx-1" *ngFor="let tag of tags">{{ tag }}</button>
      </div>
    </div>

    <div *ngIf="recipesArr | filter: 'title':recipeName as recipesArr">
      <div class="d-flex gap-4 flex-wrap">
        <div class="card" *ngFor="let recipe of recipesArr">
          <div class="overlay">
            <i class="fa-solid fa-star mx-3 favorite"></i>
          </div>
          <img src="{{ recipe.img }}" class="cardImg" />
          <div class="m-1">
            <div class="card-titles">{{ recipe.title }}</div>
            <div class="card-text small mb-2">
              <!--You have {{ recipe.ingredients  }} ingredients-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Title</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">...</div>
</div>
